.header
  img(src="images/first-hand-promo-3.jpg")
  h1.hidden First Hand
  p <cite>First Hand</cite> is a publication on process by writers, designers, and media and visual artists in their final year of post-secondary education at Emily Carr University.

hr

ul.article-list
  for article, slug in public._data
    unless article.published === false
      li.article-item
        a(href="#{ slug }")
          .article-meta
            //- Change this to frienly time first
            time.article-date(datetime="#{ new Date(article.date) }")
              != article.date
            if service.disqus
              a(href="#{ article.slug }#disqus_thread") Comments
            span.article-author!= article.author
          h2.article-title(style="background-image: -webkit-linear-gradient(transparent, transparent), url(images/#{ slug }.jpg)")!= article.title
          //-
            if public.author._data[article.author].project
              project = public.author._data[article.author].project
              em <strong>#{ project.title }</strong> #{ project.desc }              
